# Python basics

In [1]:
# Introduction to Python Programming
# Getting Started
# Python - python.org - Python is a langugage which can be written in various tools like anaconda, pycharm
# But we can install anaconda which comes with python inbuilt

In [2]:
import sys

print(sys.version_info)

print(sys.api_version)

print(sys.path)

sys.version_info(major=3, minor=6, micro=2, releaselevel='final', serial=0)
1013
['', 'C:\\ProgramData\\Anaconda3\\python36.zip', 'C:\\ProgramData\\Anaconda3\\DLLs', 'C:\\ProgramData\\Anaconda3\\lib', 'C:\\ProgramData\\Anaconda3', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Babel-2.5.0-py3.6.egg', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\h2o-3.24.0.4-py3.6.egg', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\future-0.17.1-py3.6.egg', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\tabulate-0.8.3-py3.6.egg', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\saravana.ayyappa\\.ipython']

In [ ]:
import os

print(os.getcwd())
print(os.chdir('C://Users//kingm//Desktop//Courses'))
print(os.getcwd())

In [ ]:
print('hello world')

In [ ]:
import os

In [ ]:
# Data Types

# Integers -  1,2,3
# String   -'ram', 'john'
# Floats   - 1.0,3.5

In [ ]:
a = 12
print('this is the value of a',a)

In [ ]:
# Arithmatic operations

a = 12
b = 3
addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
modulus = a % b
exponent = a ** b
Floor_Division = a // b
print(addition)
print("Subtracting Number 3 from 12 is : ", subtraction)
print("Multiplication of two numbers 12 and 3 is : ", multiplication)
print("Division of two numbers 12 and 3 is : ", division)
print("Modulus of two numbers 12 and 3 is : ", modulus)
print("Exponent of two numbers 12 and 3 is : ", exponent)
print("Floor Division of two numbers 12 and 3 is : ", Floor_Division)

In [ ]:
# Operations
age = 12
age2= 14
print(age-age2)
print(age+age2)
print(age*age2)
print(age/age2)
print(age2%age)
firstname = 'Rony'
lastname = 'Wilson'
print(firstname+' '+lastname)

In [ ]:
sentence= 'hey'
sentence[1]
name= 'jeff'
name + 'is 15 years old'
sent ='%s is 15 years old'
print(sent%name)

In [ ]:
num = 30
print(num)
num2 = 6
print(num2)

In [3]:
# Data Structures

#Lists =[1,2,3]
#Tuple = (1,2,3)
#Dictionary = {'name':['Ram','Sham'],'Age':[10,20]}
#Sets = {1,2,3}

# Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

# Strings

In [ ]:
food= input('What would you like to eat today?')
food

In [ ]:
food[0]

In [ ]:
food[0] = 'A'

In [ ]:
food[:3]

In [ ]:
food.upper()

In [ ]:
food.lower()

In [ ]:
food.capitalize()

In [ ]:
food.startswith('Bur')

In [ ]:
food.endswith('e')

In [ ]:
foods = 'egg burger cheese'
token = foods.split(' ')
token

In [ ]:
L= 'MacBook'   # to reverse a string
L[::-1]

# Tuples

In [ ]:
tuples = ('Kishore','Ram',90,90)
tuples

In [ ]:
tuples.count(90)

In [ ]:
tuples.index('Ram')

In [ ]:
tuples[1]

In [ ]:
tuples[:2]

In [ ]:
tuples[-1] = 'Sham'

In [ ]:
Name1,Name2,Score1,Score2 = tuples
print(Name1)
print(Score1)
print(Name2)
print(Score2)

In [ ]:
print('hello'*4)

In [ ]:
len(tuples)

# Dictonary

In [ ]:
emptydict = {}

In [ ]:
couples = {
    'john':'Jill',
    'rick':'Nina',
    'Jane':'George',
    'Natasha':'Fred'
}

In [ ]:
couples['john']

In [ ]:
couples['rick']

In [ ]:
couples['john'] = 'Jack'
print(couples)

In [ ]:
mathscores = {'ram':20,'Sham':30,'Kishore':50}
mathscores.values()

In [ ]:
mathscores.keys()

In [ ]:
allscores = {'Ram':[10,20,30],'Sham':[20,30,40],'Kishore':[40,30,40]}
allscores['Ram'][2]

In [ ]:
allsubscores = {'ram':{'math':9,'science':10,'English':40},
                'sham':{'math':59,'science':40,'English':40},
                'Kishore':{'math':34,'science':19,'English':40}}
print(allsubscores)

In [ ]:
allsubscores['ram']

In [ ]:
allsubscores['ram']['math']

# Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = ("apple", "banana", "cherry")

for x in thisset:
    print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

# Boolean Operators

In [ ]:
1>0

In [ ]:
43>99

In [ ]:
len('Hello')>10

In [ ]:
type(len('Hello')>10)

In [ ]:
6 % 3=0

In [ ]:
Some_No = int(input('Enter any Number'))
if Some_No<40:
    print('its less than 40')
elif Some_No<40 and Some_No<25:
    print('its less than 30')
elif Some_no<20:
    print('its less than 20')
else:
    print('its',Some_No)

In [ ]:
no=9
if no = 9:
    print('its equal to 9')

In [ ]:
mathscores = {'ram':20,'sham':30,'Krishna':40}
if 'ram' in mathscores:
    print('yes')

# Conversions

In [ ]:
somestring = '1234'
integers = int(somestring)
integers

In [ ]:
floatint = float(somestring)
floatint

In [ ]:
someint = int('this is not an integer')

# Slicing & Operators

In [ ]:
Students = ['Ram','sham','rony']
Students

In [ ]:
type(Students)

In [ ]:
Students[1:3]

In [ ]:
Students[-1]

In [ ]:
Students[:2]

In [ ]:
Students[0:-2]

In [ ]:
Students[0:-2] = ['Steve']
Students

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(Students)
dataframe

In [ ]:
matrix = [[10,20,30],[100,200,300]]
matrix

In [ ]:
matrix[0][2]

In [ ]:
len(matrix)

In [ ]:
Students.append('AnotherName')   #add another value
Students

In [ ]:
Students.remove('sham')
Students

In [ ]:
Students.index('AnotherName')

In [ ]:
Students.count('rony')

In [ ]:
A=[[1,2,3],[3,4,5]]
len(A)

# For Loops

In [ ]:
techcompanies = ['Google','Apple','Dell','Facebook','Intel']

In [ ]:
print(techcompanies)

In [ ]:
for company in techcompanies:
    print(company)

In [ ]:
sumnombers = [1,2,3,4,5]
for i in sumnombers:
    print('current values is',i)

In [ ]:
total =  0
for number in sumnombers:
    total = total+number
    print('current total values is',total)

In [ ]:
for i in range(1,3):
    for j in ('apple','banana','cheery','grapes'):
        print(i,j)

# If Else Loops

In [ ]:
if 5<0:
    print('yes')
else:
    print('no')

In [ ]:
# Taking input
age = int(input('Enter your age'))
if age>=18:
    print('You are an Adult')
elif age>=13 and age<18:
    print('you are a teenager')
else:
    print('you are young')

In [ ]:
# conditional statements
ram =50
sham = 100
if ram>sham:
    print('ram is higher')
elif ram==sham:
    print('ram is equal to sham')
else:
    print('sham is high')

In [ ]:
print(3>=2)
print(3==2)
print(3!=2)

# While Loops

In [2]:
count= 6
while count<5:
    print(count)

In [ ]:
#infinite Loop

count=4
while count<5:
    print(count)

In [1]:
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [3]:
while True:
    num =int(input('Enter a number'))
    if num%2==0:
        break

Enter a number3
Enter a number5
Enter a number1
Enter a number7
Enter a number8

# Range

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

# Break & Continue

In [ ]:
for i in range(5):
    if i==3:
        break
    print(i)

In [ ]:
for i in range(1,8):
    print(i)

In [ ]:
for i in range(1,8):
    print()
    print('before continue statement',i)
    if i%2==0:
        continue
    print('after contiue statement',i)

In [ ]:
for i in range(1,8):
    if i%2==0:
        continue
    print(i)

# Inputs & Outputs

In [4]:
# add two inputs

num1 = int(input('enter any num'))
num2 = int(input('enter another num'))

total = num1+num2
print(total)

enter any num2
enter another num3
5

In [6]:
numbr = int(input('Enter any number'))

for i in range(1,11):
    print(i,'*',numbr,'=',i*numbr)

Enter any number4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [ ]:
# Python Program to Print Odd Numbers from 1 to N

maximum = int(input(" Please Enter any Maximum Value : "))

for number in range(1, maximum + 1):
    if(number % 2 != 0):
        print("{0}".format(number))

# Built in Functions

In [5]:
# Built-in functions, such as help() to ask for help, min() to get the minimum value, 
# print() to print an object to the terminal,… You can find an overview with more of these functions here.
# User-Defined Functions (UDFs), which are functions that users create to help them out; And Anonymous functions, 
# which are also called lambda functions because they are not declared with the standard def keyword.

In [ ]:
# in built functions

print(abs(-30))
print(bool(0))
print(5<0)

In [ ]:
min.__doc__

In [ ]:
# built in functions
print(sent.endswith('e'))
print(sent.find('e')) # finds returns lowest index of a substring
print(sent.index('y')) # finds the index of the substring
eval('5*3')
a=1
print(type(a))
b = str(a)
print(type(b))

# User Defined Functions

In [ ]:
def helloword():
    print('basic functions')

In [ ]:
def add(num,num2):
    result = num+num2
    print(result)
    
add(10,14)

In [ ]:
def greetings(name):
    print(name,'welcome')

In [ ]:
greetings('saravana')

In [6]:
# Define a function `plus()`
def plus(a,b):
    return a + b

In [8]:
def hello():
    name = str(input("Enter your name: "))
    if name:
        print ("Hello " + str(name))
    else:
        print("Hello World") 
    return 
  
hello()

Enter your name:
Hello World

# Importing and Using Library in Python

In [ ]:
import pandas as pd

# Program to Create series with scalar values  
Data =[1, 3, 4, 5, 6, 2, 9]  # Numeric data 
  
# Creating series with default index values 
s = pd.Series(Data)     
  
# predefined index values 
Index =['a', 'b', 'c', 'd', 'e', 'f', 'g']  
  
# Creating series with predefined index values 
si = pd.Series(Data, Index) 
print(si)

a = pd.DataFrame(si)
print(a)

In [ ]:
# Python Program to find Area Of Circle using Radius

PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))
area = PI * radius * radius
circumference = 2 * PI * radius

print(" Area Of a Circle = %.2f" %area)
print(" Circumference Of a Circle = %.2f" %circumference)

In [ ]:
# Python Program to find Total, Average, and Percentage of Five Subjects
 
english = float(input("Please enter English Marks: "))
math = float(input("Please enter Math score: "))
computers = float(input("Please enter Computer Marks: "))
physics = float(input("Please enter Physics Marks: "))
chemistry = float(input("Please enter Chemistry Marks: "))

total = english + math + computers + physics + chemistry
average = total / 5
percentage = (total / 500) * 100

print("\nTotal Marks = %.2f"  %total)
print("Average Marks = %.2f"  %average)
print("Marks Percentage = %.2f"  %percentage)

In [ ]:
# Python Program to Remove First Occurrence of a Character in a String
 
string = input("Please enter your own String : ")
char = input("Please enter your own Character : ")
string2 = ''
length = len(string)
for i in range(length):
    if(string[i] == char):
        string2 = string[0:i] + string[i + 1:length]
        break
 
 
print("Original String :  ", string)
print("Final String :     ", string2)

# Errors

In [ ]:
# Exception handlig

try:
    data = read_csv('data.csv')
except:
    print('file not found')

In [ ]:
def this_fails():
    x = 1/0
try:
    this_fails()
except ZeroDivisionError as err:
    print('Handling run-time error:', err)

In [ ]:
try:
    x = int(input("Please enter a number: "))
except ValueError:
    print("Oops!  That was no valid number.  Try again...")

In [ ]:
A = 1
B = 'SA'
try:
    A+B
except TypeError:
    print('Please input the correct type')

In [ ]:
user_input = input('Enter your Age')
try:
    val = int(user_input)
    print('Yes input string is an Integer.')
    print('Input number value is: ', val)
except ValueError:
    print('That\'s not an int!')
except:
    print('Somethings wrong')

In [ ]:
try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

In [ ]:
try:
    print("Hello")
except:
    print("Something went wrong")

In [ ]:
try:
    f = open('myfile.txt')
    s = f.readline()
    i = int(s.strip())
except OSError as err:
    print("OS error: {0}".format(err))
except ValueError:
    print("Could not convert data to an integer.")
except:
    print("Unexpected error:", sys.exc_info()[0])
    raise