# Lists

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

# Strings

In [ ]:
food= input('What would you like to eat today?')
food

In [ ]:
food[0]

In [ ]:
food[0] = 'A'

In [ ]:
food[:3]

In [ ]:
food.upper()

In [ ]:
food.lower()

In [ ]:
food.capitalize()

In [ ]:
food.startswith('Bur')

In [ ]:
food.endswith('e')

In [ ]:
foods = 'egg burger cheese'
token = foods.split(' ')
token

In [ ]:
L= 'MacBook'   # to reverse a string
L[::-1]

# Tuples

In [ ]:
tuples = ('Kishore','Ram',90,90)
tuples

In [ ]:
tuples.count(90)

In [ ]:
tuples.index('Ram')

In [ ]:
tuples[1]

In [ ]:
tuples[:2]

In [ ]:
tuples[-1] = 'Sham'

In [ ]:
Name1,Name2,Score1,Score2 = tuples
print(Name1)
print(Score1)
print(Name2)
print(Score2)

In [ ]:
print('hello'*4)

In [ ]:
len(tuples)

# Dictonary

In [ ]:
emptydict = {}

In [ ]:
couples = {
    'john':'Jill',
    'rick':'Nina',
    'Jane':'George',
    'Natasha':'Fred'
}

In [ ]:
couples['john']

In [ ]:
couples['rick']

In [ ]:
couples['john'] = 'Jack'
print(couples)

In [ ]:
mathscores = {'ram':20,'Sham':30,'Kishore':50}
mathscores.values()

In [ ]:
mathscores.keys()

In [ ]:
allscores = {'Ram':[10,20,30],'Sham':[20,30,40],'Kishore':[40,30,40]}
allscores['Ram'][2]

In [ ]:
allsubscores = {'ram':{'math':9,'science':10,'English':40},
                'sham':{'math':59,'science':40,'English':40},
                'Kishore':{'math':34,'science':19,'English':40}}
print(allsubscores)

In [ ]:
allsubscores['ram']

In [ ]:
allsubscores['ram']['math']

# Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

In [ ]:
thisset = ("apple", "banana", "cherry")

for x in thisset:
    print(x)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

# Boolean Operators

In [ ]:
1>0

In [ ]:
43>99

In [ ]:
len('Hello')>10

In [ ]:
type(len('Hello')>10)

In [ ]:
6 % 3=0

In [ ]:
Some_No = int(input('Enter any Number'))
if Some_No<40:
    print('its less than 40')
elif Some_No<40 and Some_No<25:
    print('its less than 30')
elif Some_no<20:
    print('its less than 20')
else:
    print('its',Some_No)

In [ ]:
no=9
if no = 9:
    print('its equal to 9')

In [ ]:
mathscores = {'ram':20,'sham':30,'Krishna':40}
if 'ram' in mathscores:
    print('yes')

# Conversions

In [ ]:
somestring = '1234'
integers = int(somestring)
integers

In [ ]:
floatint = float(somestring)
floatint

In [ ]:
someint = int('this is not an integer')

# Slicing & Operators

In [ ]:
Students = ['Ram','sham','rony']
Students

In [ ]:
type(Students)

In [ ]:
Students[1:3]

In [ ]:
Students[-1]

In [ ]:
Students[:2]

In [ ]:
Students[0:-2]

In [ ]:
Students[0:-2] = ['Steve']
Students

In [ ]:
import pandas as pd
dataframe = pd.DataFrame(Students)
dataframe

In [ ]:
matrix = [[10,20,30],[100,200,300]]
matrix

In [ ]:
matrix[0][2]

In [ ]:
len(matrix)

In [ ]:
Students.append('AnotherName')   #add another value
Students

In [ ]:
Students.remove('sham')
Students

In [ ]:
Students.index('AnotherName')

In [ ]:
Students.count('rony')

In [ ]:
A=[[1,2,3],[3,4,5]]
len(A)

# For Loops

In [ ]:
techcompanies = ['Google','Apple','Dell','Facebook','Intel']

In [ ]:
print(techcompanies)

In [ ]:
for company in techcompanies:
    print(company)

In [ ]:
sumnombers = [1,2,3,4,5]
for i in sumnombers:
    print('current values is',i)

In [ ]:
total =  0
for number in sumnombers:
    total = total+number
    print('current total values is',total)

In [ ]:
for i in range(1,3):
    for j in ('apple','banana','cheery','grapes'):
        print(i,j)

# While Loops

In [2]:
count= 6
while count<5:
    print(count)

In [ ]:
#infinite Loop

count=4
while count<5:
    print(count)

In [1]:
count = 0
while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [3]:
while True:
    num =int(input('Enter a number'))
    if num%2==0:
        break

Enter a number3
Enter a number5
Enter a number1
Enter a number7
Enter a number8

# Range

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

# Break & Continue

In [ ]:
for i in range(5):
    if i==3:
        break
    print(i)

In [ ]:
for i in range(1,8):
    print(i)

In [ ]:
for i in range(1,8):
    print()
    print('before continue statement',i)
    if i%2==0:
        continue
    print('after contiue statement',i)

In [ ]:
for i in range(1,8):
    if i%2==0:
        continue
    print(i)

# Inputs & Outputs

In [4]:
# add two inputs

num1 = int(input('enter any num'))
num2 = int(input('enter another num'))

total = num1+num2
print(total)

enter any num2
enter another num3
5

In [6]:
numbr = int(input('Enter any number'))

for i in range(1,11):
    print(i,'*',numbr,'=',i*numbr)

Enter any number4
1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40